{% extends 'layout.twig' %}

{% block title 'Bookmarks Manager' %}

{% block body %}

<h1>BOOKMARKS MANAGER</h1>

<div class="row">
    <div class="col-md-15">
        {% for row in bookmarks | batch(5) %}
            <section class="card-deck">
                {% if bookmarks is not empty %}
                    {% for bookmark in row %}
                        <article class="card">
                            <a href="{{ bookmark.link }}">
                                <h4 class="card-header">
                                    {{ bookmark.title }}
                                </h4>
                                <img src="{{asset("img/domain2.png")}}" class="img-thumbnail rounded" alt="{{ bookmark.title }}">
                                <p>
                                    {{ bookmark.click_counter}} 
                                    {% if bookmark.click_counter > 1 %} 
                                        clics 
                                    {% else %} 
                                        clic 
                                    {% endif %}
                                </p>
                            </a>
                        </article>
                    {% endfor %}
                {% else %}
                    <p>No bookmarks found.</p>
                {% endif %}
            </section>
        {% endfor %}
    </div>
</div>

{% endblock %}
