{{ csrf_input() }}
<div class="row">
    <div class="col-md-4">
        {{ field('title', item.title, "Titre de l\'article") }}
    </div>
    <div class="col-md-4">
        {{ field('category_id', item.category_id, "Catégorie", {options: categories}) }}
    </div>
    <div class="col-md-4">
        {{ field('slug', item.slug, "Slug") }}
    </div>
</div>

{{ field('content', item.content, "Contenu", {type: 'textarea'}) }}
{{ field('created_at', item.created_at, "Date de création", {class: 'datepickr'}) }}

